{# Gallery trigger link #}
<div class="gallery-container">
  <a href="#" class="gallery-trigger btn btn-outline-secondary rounded-pill px-5" data-gallery-id="{{ id }}">
    {{ props.link_text|default('Ver galería') }}
  </a>
</div>

{# The blueimp Gallery container (include only once per page) #}
{% if include_container|default(true) %}
<div id="{{ id }}" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
{% endif %}

{% set drupal_settings = {
  '#attached': {
    'drupalSettings': {
      'ayarachis': {
        'virtual_gallery': {
          (id): {
            'images': images
          }
        }
      }
    }
  }
} %}
{{ drupal_settings }}
