<div class="video-container">
  <div class="ratio ratio-16x9">
    <video controls preload="metadata" class="video-component">
      <source src="{{ video }}" type="{{ video_type }}">
    </video>
  </div>
</div>
